{% extends 'admin/admin.html.twig' %}

{% block title  'Nouvelle Catégorie' %}


{% block body %}

    <h1>Nouvelle Catégorie</h1>

    {{ form_start(form) }}


    {{ form_end(form) }}
    
{% endblock %}
